<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Civix - Signup</title>
  <link rel="stylesheet" href="/css/authStyle.css">
</head>
<body class="auth-body">
  <h1 class="brand-title">Civix</h1>

  <div class="form-container">
    <h2>Signup</h2>
    <form method="POST" action="/signup">
      <input name="name" placeholder="Name" required />
      <input name="email" type="email" placeholder="Email" required />
      <input name="password" type="password" placeholder="Password" required />
      <button type="submit">Signup</button>
    </form>
  </div>
</body>
</html>
